{%extends 'base.html'%}
{%block content%}
    <form action="/posts/{{post.id}}/edit" method="post">
    <label for="title">Title :</label><input type="text" name="title" id="title" value = '{{post.title}}'>
    <label for="post">Content:</label><input type="text" name="post" id="post" cols="30" rows="10" value = '{{post.post}}'></input>
    <br>
    {%for tag in tot_tags%}
    <input type="checkbox" name="{{tag.name}}" id=""
    {%if tag in post.tags%} checked= "true"{%endif%}
    ><label>{{tag.name}}</label><br>
    {%endfor%}
    <input type="submit" value="Submit">
    </form>
    <br>
    <a href="/posts/{{post.id}}">Go Back</a>
{%endblock%}