{%extends 'base.html'%}
{%block content%}
<h1>{{user.full_name().capitalize()}}</h1>
<img src="{{user.image_url}}" style ="height:150px">
<br><br>
<h3>Posts</h3>
<ul>
    {%for post in posts%}
    <li><a href='/posts/{{post.id}}'>{{post.title}}</a></li>
    {%endfor%}
</ul>
<a href='/users/{{user.id}}/posts/new'>New Post</a>
<br>
<a href='/users/{{user.id}}/edit'>Edit Profile</a>
<form action="/users/{{user.id}}/delete" method="post">
    <input type="submit" value="Delete Profile">
</form>
{%endblock%}